<div class="">
    <div class="row g-0 mt-5">
        {% if side == 0 %}
        <div class="col-md-9 d-none d-md-block">
            {% include feature_media.html feature=feature %}
        </div>
        {% endif %}

        <div class="col-md-3 text-center">
            <div class="d-flex h-100">
                <div class="h-75 w-100 d-flex align-items-start justify-content-center text-center">
                    
                    <div class="d-flex flex-column h-100">

                        <h3 class="d-flex flex-column">
                            <i class="bi {{ feature.icon }} text-primary mt-3"></i>
                            <span class="mt-3">{{ feature.name }}</span>
                        </h3>

                        <p class="fs-6 text-info mt-n2 text-center">
                            {{ feature.catch }}
                        </p>

                        <ul class="mt-3 mb-auto text-start" style="list-style-type: none;">
                            {% for include in feature.includes %}
                            <li class="w-100">
                                <i class="bi bi-check-circle text-primary me-2"></i>
                                <span>{{ include }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        
                        <div class="">
                            <a href="{{ site.app_url |append: feature.url }}" class="btn btn-primary mt-5 w-75">
                                {% t try_now %}
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-9 d-md-none mt-5">
            {% include feature_media.html feature=feature %}
        </div>

        {% if side == 1 %}
        <div class="col-md-9 d-none d-md-block">
            {% include feature_media.html feature=feature %}
        </div>
        {% endif %}
    </div>
</div>