<footer class="container pb-3 mb-3 mt-auto">
  <hr>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 mt-3">
    <div class="col mb-3">
      <div class="d-flex flex-row text-muted">
        <div class="d-flex flex-column">
          <p class="">©</p>
          <i class="bi bi-envelope me-2"></i>
        </div>

        <div class="d-flex flex-column ">
          <p class="">{{ site.time | date: '%Y' }} OgmAPI</p>
          <p class="text-center">{{ site.email }}</p>
        </div>
      </div>

      <div class="d-flex flex-row text-muted">
        <a href="https://gitlab.com/ogmapi/" target="_blank"
           class="btn btn-sm btn-outline-secondary border border-0"
           data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Source code"
           aria-label="{% t footer.aria_source_code %}"
        >
          <i class="bi bi-gitlab fs-2"></i>
        </a>

        <a href="https://discord.gg/QkDX6fda" target="_blank"
           class="btn btn-sm btn-outline-secondary border border-0"
           data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Discord"
           aria-label="{% t footer.aria_discord %}"
        >
          <i class="bi bi-discord fs-2"></i>
        </a>
      </div>

    </div>

    <div class="col mb-3"></div>

    <div class="col mb-3">
      <h5>OgmAPI</h5>

      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            class="nav-link text-body-secondary p-0"
            href="/{% if site.lang != site.languages[0]%}{{site.lang}}{% endif %}#features"
          >
            {% t features %}
          </a>
        </li>

        <li class="nav-item mb-2">
          <a
            class="nav-link text-body-secondary p-0"
            href="/{% if site.lang != site.languages[0]%}{{site.lang}}{% endif %}#pricing"
          >
            {% t pricing %}
          </a>
        </li>

        <li class="nav-item mb-2">
          <a
            class="nav-link text-body-secondary p-0"
            href="{% translate_link datasets %}"
          >
            {% t dataset_available %}
          </a>
        </li>

        <li class="nav-item mb-2">
          <a
            class="nav-link text-body-secondary p-0"
            href="/{% if site.lang != site.languages[0]%}{{site.lang}}{% endif %}#missing"
          >
            {% t dataset_request %}
          </a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Docs</h5>

      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="https://docs.ogmapi.fr/">
            OgmAPI public documentation
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="https://docs.ogmapi.fr/en/model">
            Data model
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="/datasets">
            Available datasets
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="https://docs.ogmapi.fr/en/rest_api">
            API access
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="https://docs.ogmapi.fr/en/queries">
            Advanced query language
          </a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>{% t infos %}</h5>

      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            class="nav-link text-body-secondary p-0"
            href="{% translate_link mentions %}"
          >
            {% t legal_info %}
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="/privacy">
            {% t privacy_notice %}
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="https:/ko-fi.com/ogmapi" target="_blank">
            Ko-Fi
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-body-secondary p-0" href="https://status.ogmapi.fr/status/ogmapi">
            {% t status_page %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>
<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% if jekyll.environment == "production" %} {% if site.enable_umami_analytics %}
<!-- Umami analytics -->
<script
  async
  defer
  data-website-id="{{ site.umami_id }}"
  src="{{ site.umami_url }}"
></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.ogmapi.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endif %} {% endif %}
