<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
            {{ page.title }} -
        {% endif %}
        {{ site.title }}
    </title>
  
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | site.baseurl_root }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    {% seo %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
</head>