<nav
  class="navbar navbar-expand-lg fixed-top bg-dark border-bottom border-body"
>
  <div
    class="container d-flex flex-row justify-content-between align-items-center"
  >
    <a
      class="navbar-brand p-0 m-0"
      href="/{% if site.lang != site.languages[0]%}{{site.lang}}{% endif %}"
    >
      <div class="d-flex flex-row p-0 m-0">
        <div class="logo">Ogm</div>
        <div class="logo_cap text-primary">API</div>
      </div>
    </a>

    <div>
      <button
        class="navbar-toggler text-center"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#iedb_navbar"
        aria-controls="iedb_navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="iedb_navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              href="/{% if site.lang != site.languages[0]%}{{site.lang}}{% endif %}#features"
              class="nav-link"
            >
              {% t features %}
            </a>
          </li>

          <li class="nav-item">
            <a href="{% translate_link datasets %}" class="nav-link">
              {% t dataset_available %}</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://docs.ogmapi.fr/"> Docs </a>
          </li>

          <li class="nav-item">
            <a
              href="/{% if site.lang != site.languages[0]%}{{site.lang}}{% endif %}#pricing"
              class="nav-link"
            >
              {% t pricing %}
            </a>
          </li>

          {% for item in site.nav %}
          <li class="nav-item">
            {% if item.href contains 'http' %}
            <a href="{{ item.href }}">{{ item.title }}</a>
            {% else %}
            <a href="{{ item.href | relative_url }}">{{ item.title }}</a>
            {% endif %} {% if forloop.last %} {% else %} • {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="d-flex flex-row">
      <button
        type="button"
        class="btn btn-outline-secondary border-0 shadow-none"
        data-bs-toggle="modal"
        data-bs-target="#search_modal"
      >
        <i class="bi bi-search"></i>
      </button>

      <a class="btn shadow-none" href="https://ko-fi.com/ogmapi" target="_blank" title="{% t kofi %}">
        <img src="/assets/imgs//kofi.svg" height="24">
      </a>


      {% include lang_selector.html %}

      <a
        href="{{ site.app_url |append: '/login' }}"
        class="btn btn-outline-info d-md-non d-none d-md-block"
        >{% t sign_in %}</a
      >
      <a
        href="{{ site.app_url }}"
        class="btn btn-primary d-md-non d-none d-md-block ms-1"
        >{% t free_access %}</a
      >
    </div>
  </div>
</nav>

{% include search-lunr.html %}
