{% if site.lang == "fr" %}
<a href="/en{{page.url}}" class="btn shadow-none">
  <img src="/assets/imgs/gb.svg" height="18" width="18" alt="gb" aria-label="Switch to the english version"/>
</a>
{% else %}

<a href="{{page.url}}" class="btn shadow-none">
  <img src="/assets/imgs/fr.svg" height="18" width="18" alt="fr" aria-label="Passer le site en français"/>
</a>
{% endif %}
