<div class="card m-3" style="max-width: 30em">
    <div class="card-header bg-dark d-flex flex-column" style="height: 150px">
        <h3 class="card-title text-primary mt-3">
            {{ plan.name }}
        </h3>
        <span class="text-muted">
            {{ plan.catch_phrase }}
        </span>
    </div>

    <div class="card-body">
        <div class="d-flex flex-row align-items-end" style="height: 50px">
            <span class="fs-1 fw-bolder">
                {{ plan.price_tag }}
            </span>
            <span class="text-muted ms-2">
                {{ plan.price_duration }}
            </span>
        </div>

        <hr>

        <ul class="w-100 p-0" style="list-style-type: none;">
            {% for include in plan.includes %}
            <li class="w-100">
                <i class="bi bi-check-circle text-primary me-2"></i>
                <span>{{ include }}</span>
            </li>
            {% endfor %}

            {% for exclude in plan.excludes %}
            <li class="w-100">
                <i class="bi bi-x-circle text-danger me-2"></i>
                <span>{{ exclude }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="d-flex flex-column justify-content-center card-footer bg-dark border-0 mt-5">
        {% if plan.kofi %}
            {% if site.lang == 'en' %}
                <div class="d-flex flex-row justify-content-center mb-2">
                    <script type='text/javascript'>kofiwidget2.init('Help the service on Ko-fi !', '#0aa2c0', 'C0C4T861P');kofiwidget2.draw();</script>
                </div>
            {% else %}
                <div class="d-flex flex-row justify-content-center mb-2">
                    <script type='text/javascript'>kofiwidget2.init('Aidez le service avec Ko-Fi !', '#0aa2c0', 'C0C4T861P');kofiwidget2.draw();</script>
                </div>
        {% endif %}

        {% endif %}

        <div class="d-flex flex-row justify-content-center">
            {% if plan.url_app %}
            <a href="{{ site.app_url |append: plan.url_app }}" class="btn btn-primary w-75">{{ plan.url_name }}</a>
            {% endif %}

            {% if plan.url_email %}
            <a href="{{ 'mailto:' |append: site.email }}" class="btn btn-primary w-75">{{ plan.url_name }}</a>
            {% endif %}

        </div>
    </div>
</div>