<script src="https://unpkg.com/lunr/lunr.js"></script>

<script>
  {% assign counter = 0 %}
  var documents = [{% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'assets' %}{% else %}{
      "id": {{ counter }},
      "url": "{{ site.url }}{{ page.url }}",
      "title": "{{ page.title }}",
      "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
      }, {% endif %}{% endfor %}{% for page in site.docs %}{
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
        }, {% endfor %}{% for page in site.posts %}{
      "id": {{ counter }},
      "url": "{{ site.url }}{{ page.url }}",
      "title": "{{ page.title }}",
      "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
      }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];

  var idx = lunr(function () {
      this.ref('id')
      this.field('title')
      this.field('body')

      documents.forEach(function (doc) {
          this.add(doc)
      }, this)
  });
  function lunr_search(term) {
    document.querySelectorAll('#search_results_error')[0].innerHTML = ""
      document.getElementById('lunrsearchresults').innerHTML = '';

      if(term) {
          //document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
          //put results on the screen.
          var results = idx.search(term);
          if(results.length>0){
              //console.log(idx.search(term));
              //if results
              for (var i = 0; i < results.length; i++) {
                  // more statements
                  var ref = results[i]['ref'];
                  var url = documents[ref]['url'];
                  var title = documents[ref]['title'];
                  var body = documents[ref]['body'].substring(0,160)+'...';

                  var card = "<a class='list-group-item border-0' href='" + url + "'>"
                  card += "<div class='d-flex w-100 justify-content-between'><h5 class='text-info'>" + title + "</h5></div>"
                  card += "<p class=>" + body + "</p>"
                  card += "<small>" + url + "</small>"
                  card += "</a>"

                  document.querySelectorAll('#lunrsearchresults')[0].innerHTML = document.querySelectorAll('#lunrsearchresults')[0].innerHTML + card;
              }
          } else {
              document.querySelectorAll('#search_results_error')[0].innerHTML = "<div class='alert alert-info'>{% t search_notfound %}</div>";
          }
      }
      return false;
  }
</script>
<style>
  #lunrsearchresults {
    padding-top: 0.2rem;
  }
  .lunrsearchresult {
    padding-bottom: 1rem;
  }
  .lunrsearchresult .title {
    color: #d9230f;
  }
  .lunrsearchresult .url {
    color: silver;
  }
  .lunrsearchresult a {
    display: block;
    color: #777;
  }
  .lunrsearchresult a:hover,
  .lunrsearchresult a:focus {
    text-decoration: none;
  }
  .lunrsearchresult a:hover .title {
    text-decoration: underline;
  }
</style>

<div
  class="modal fade"
  id="search_modal"
  tabindex="-1"
  aria-labelledby="#search_modal_label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="search_modal_label">{% t search %}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          onSubmit="return lunr_search(document.getElementById('lunrsearch').value);"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="lunrsearch"
              name="q"
              maxlength="255"
              value=""
              placeholder="{% t search %}..."
            />
            <button type="submit" class="btn btn-outline-secondary">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
        <div id="search_results_error" class="mt-2"></div>
        <div id="lunrsearchresults" class="list-group border-0 mt-2">
        </div>
      </div>
    </div>
  </div>
</div>
