@import "bootstrap/functions";
@import "bootstrap/variables";


$primary: $indigo-300;
$info: $cyan-600;

$theme-colors: map-merge($theme-colors, (
        "primary": $primary,
        "primary-bg-subtle": darken($primary, 100),
        "info": $info
));

$enable-negative-margins: true;

@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/bootstrap";
@import "markdown";

.main_title_cap {
        font-weight: bold;
        font-size: 60px;
}

.main_title {
        font-weight: bold;
        font-size: 53px;
        margin-top: 8px;
}

.logo_cap {
        font-weight: bold;
        font-size: 30px;
}

.logo {
        font-weight: bold;
        font-size: 26px;
        margin-top: 4px;
}


.catch_phrase {
        font-weight: bold;
        font-size: 32;
}

.contact_us {
        min-width: 237px;
}