table {
  @extend .table;
}

h1 {
  @extend .text-primary;
}

h2 {
  @extend .text-primary;
  @extend .mt-5;
}

h2 > a {
  @extend .text-primary;
  @extend .mt-5;
}

h3 {
  @extend .text-primary;
  @extend .ms-4;
  @extend .mt-4;
}

a {
  @extend .link-offset-2;
  @extend .link-offset-3-hover;
  @extend .link-underline;
  @extend .link-underline-opacity-0;
  @extend .link-underline-opacity-75-hover;
}