<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include head.html %}
<body>
    <div class="d-flex flex-column h-100 text-bg-dark" data-bs-theme="dark" style="min-height: 100vh">
        {% include header.html %}

        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>

        <div class="mt-5">
            {{ content }}
        </div>

        {% include footer.html %}
    </div>
</body>
</html>