---
layout: default
---

<div
  class="d-flex flex-column align-items-center justify-content-center mx-auto text-center"
  style="height: 60vh"
>
  <div class="main_title d-flex flex-row">
    <div class="main_title">Ogm</div>
    <div class="main_title_cap text-primary">API</div>
  </div>

  <span class="catch_phrase text-info mb-3" style="top: -10px"> {% t catch_phrase %} </span>
  
  <span>
    {% tf index/catch_descr.md %}
  </span>

  <div class="mt-3">
    <a href="{% translate_link datasets %}" class="btn btn-outline-info"
      >
      {% t our_datasets %}
    </a>
    <a href="{{ site.app_url }}" class="btn btn-primary">{% t free_access %}</a>
  </div>
</div>

<div class="container" id="features">
  <hr />
  <h3 class="text-center mt-5">{% t features %}</h3>

  <div class="d-flex flex-column row-gap-4">
    {% for feature in site.translations[site.lang].features_list %}
      {% assign side = forloop.index | modulo: 2 %}
      {% include feature_card.html feature=feature side=side %}
    {% endfor %}
  </div>
</div>

<div class="container mt-5" id="datasets">
  <hr />

  <h3 class="text-center mt-5">{% t dataset_available %}</h3>

  <div class="text-center mt-5">{% tf index/datasets.md %}</div>

  <div
    class="card-footer bg-dark border-0 d-flex flex-row justify-content-center mt-5"
  >
    <a href="{% translate_link datasets %}" class="btn btn-primary w-25 contact_us">
      {% t dataset_discover %}
    </a>
  </div>

  <h5 class="text-center mt-5 text-primary" id="missing">{% t dataset_request %}</h5>

  <div class="text-center mt-5">{% tf index/missing.md %}</div>

  <div
          class="card-footer bg-dark border-0 d-flex flex-row justify-content-center mt-5"
  >
    <a
            href="{{ 'mailto:' |append: site.email }}"
            class="btn btn-primary w-25 contact_us"
    >
      {% t contact_us %}
    </a>
  </div>
</div>

<div class="container mt-5" id="pricing">
  <hr />
  <h3 class="text-center mt-5">{% t pricing %}</h3>

  <div class="row row-cols-1 row-cols-md-2 justify-content-center">
    {% for plan in site.translations[site.lang].plans %} {% include
    plan_card.html plan=plan %} {% endfor %}
  </div>
</div>
