<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="vh-100 text-bg-dark" data-bs-theme="dark">
    <div class="d-flex flex-column" >
        {% include header.html %}
        {{ content }}
    </div>

    {% include footer.html %}
</div>

</body>
</html>